services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-porto
    restart: always
    ports:
      - "8000:8000"
    networks:
      - laravel-net
    depends_on:
      - db
  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_haris
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - laravel-net
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - laravel-net
networks:
  laravel-net:
    driver: bridge
